*{
    margin: 0;
    padding: 0;
}
.icon {
    width: 1em; 
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin: 0 8px;
 }
 .tools{
     display:flex;
     align-items: center;
     position:fixed;
     top: 8px;
     right: 8px;
     color: rgb(146, 135, 135);
     z-index: 10;
 }
 .tools-colors{
     padding: 0 4px;
     display:flex;
     align-items: center;
     height: 40px;
     margin-right: 4px;
     list-style-type: none;
     border-radius: 4px;
     border: 1px solid rgba(146, 143, 143,0.2);
     box-shadow:0 0 2px  rgb(248, 5, 5,0.5);
 }
 .tools-colors>li{
     width: 22px;
     height: 22px;
     margin: 0 4px;
     text-align: center;
     border-radius: 4px;
 }
.tools-colors>li#black{
    background-color: black;
  }
.tools-colors>li#red{
    background-color: #ff4500;
  }
.tools-colors>li#yellow{
    background-color: #FF9000; 
}
.tools-colors>li#green{
    background-color: #00b060;
  }
.tools-colors>li#blue{
    background-color: #0a64a4;
  }
  
 .tools>.tools-draw{
     display: flex;
     font-size: 30px;
     list-style-type: none;
 }
 .tools-draw>li{
    border-radius: 4px;
    box-shadow:0 0 5px rgba(146, 143, 143,0.4);
    margin: 0 4px;
 }
 .draw-pen{
    display: flex;
    align-items: center;
}
.pen-line{
    display: flex;
    align-items: center;
    height: 30px;
    list-style-type: none;
    padding: 0;
    margin-left: 2px;
    border: 1px solid rgba(146, 143, 143,0.2);
    border-radius: 4px;
 }
 .pen-line>li{
    display: flex;
    height: 24px;
    background-color: rgb(146, 135, 135);
    margin: 0 8px;
    
 }
 .fine{
    width: 2px;
 }
 .middle{
    width: 4px;
 }
 .crude{
    width: 6px;
 }


 .tools-draw>li.active{
     color: #FF4500;
     border: 1px solid rgba(146, 143, 143,0.2);
     box-shadow:0 0 2px  rgb(248, 5, 5,0.5);
     margin: 0 4px;
 }
.pen-line>li.active_line{
    background-color: #000;
}
.tools-colors>li.active-colors{
    width: 28px;
    height: 28px;
    box-shadow:0 0 5px rgba(146, 143, 143,1);
}

@media screen and (max-width: 966px) {
    .tools-colors{
        position:fixed;
        top: 58px;
        right: 8px;
        padding: 0 4px;
        display:flex;
        height: 160px;
        flex-direction: column;
        margin-right: 4px;
        list-style-type: none;
        border-radius: 4px;
        border: 1px solid rgba(146, 143, 143,0.2);
        box-shadow:0 0 2px  rgb(248, 5, 5,0.5);
    }
    .tools-colors>li{
        width: 22px;
        height: 22px;
        margin: 4px 0;
        text-align: center;
        border-radius: 4px;
    }
  }